.activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 35px 0;
    cursor: default;

    @media (min-width: 768px) {
        margin: 0 35px 0;
        max-width: calc(100% - 35px);
    }

    @media (min-width: 1024px) {
        max-width: calc(100% - 320px);
        margin: 0 auto;
    }

    @media (min-width: 1200px) {
        max-width: calc(100% - (95px * 2));
    }

    .activity-container {
        width: 100%;
        text-align: center;

        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
        }

        @media (min-width: 1200px) {
            gap: 4rem;
        }

        @media (min-width: 1920px) {
            max-width: calc(100% - 300px);
        }

        h1 {
            color: $green;
            @media (min-width: 768px) {
                font-size: 38px;
                grid-column: 1/4;
            }

            @media (min-width: 1920px) {
                font-size: 55px;
            }
        }

        .arrow-container{
            display: flex;
            justify-content: space-between;
            position: relative;
            top: 40px;
            color: $green;

            @media(min-width: 768px){
                display: none;
            }

            .arrow {
                color: $green;
                cursor: pointer;

                @media (min-width: 768px) {
                    display: none;
                }
            }
        }

        .day-information {
            display: none;
            flex-direction: column;
            margin-bottom: 5rem;

            @media(min-width: 768px){
                display: flex;
            }

            &:nth-of-type(2){
                display: flex;
            }

            p {
                padding: 0;
                margin: 0;
            }

            .activity-day {
                /* display: flex;
                flex-direction: row;
                justify-content: center; */
                margin-bottom: 20px;

                @media (min-width: 768px) {
                    padding-bottom: 4px;
                    border-bottom: 2px solid $green;
                }

                #day-of-week {
                    color: $pink;
                    font-family: $font-secondary;
                    font-size: 12px;
                    margin-bottom: 4px;

                    @media (min-width: 768px) {
                        text-align: start;
                        font-size: 14px;
                    }

                    @media (min-width: 1200px) {
                        font-size: 1rem;
                    }

                    @media (min-width: 1920px) {
                        font-size: 24px;
                    }
                }

                p {
                    @media (min-width: 768px) {
                        font-size: 16px;
                        text-align: start;
                    }
                    @media (min-width: 1200px) {
                        font-size: 20px;
                    }

                    @media (min-width: 1920px) {
                        font-size: 2rem;
                    }
                }


            }
        }

        article {
            margin-bottom: 2rem;
            position: relative;
            height: 200px;

            @media (min-width: 1920px) {
                height: 250px;
            }

            img {
                border-radius: 25px;
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
                box-sizing: border-box;
                border:2px solid $purple;
            }

            .activity-info-container {
                border-radius: 0 0 25px 25px;
                display: flex;
                justify-content: space-between;
                position: absolute;
                background-color: #141010;
                z-index: 2;
                padding: 1rem;
                width: calc(100% - 2px);
                box-sizing: border-box;
                bottom: 1px;
                left: 1px;

                @media (min-width: 768px) {
                    top: 135px;
                }

                @media (min-width: 1200px) {
                    top: 127px;
                }

                @media (min-width: 1920px) {
                    top: 160px;
                }

                span {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                }

                p {
                    color: $blue;

                    @media (min-width: 768px) {
                        font-size: 12px;
                    }
                    @media (min-width: 1200px) {
                        font-size: 1rem;
                    }

                    @media (min-width: 1920px) {
                        font-size: 24px;
                    }

                    &:first-child {
                        color: $green;
                        @media (min-width: 768px) {
                            font-size: 14px;
                        }

                        @media (min-width: 1200px) {
                            font-size: 18px;
                        }

                        @media (min-width: 1920px) {
                            font-size: 28px;
                        }
                    }
                }
            }
        }

        .read-more {
            display: flex;
            justify-content: center;
            margin-bottom: 2rem;
            color: $green;
            text-decoration: none;
        }
    }
}

/* Create */
#activity-manage {
    display: flex;
    justify-content: center;

    .activity-form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10rem 0 35px;
        width: calc(100% - 35px);
        max-width: 320px;
        border: 1px solid #2b4746;
        border-radius: 10px;
        padding-bottom: 20px;
        background: rgb(89 89 89 / 14%);
        box-shadow: 0 8px 32px 0 #44fff945;
        backdrop-filter: blur(4px);

        @media (min-width: 1200px){
            max-width: 500px;
        }

        h2 {
            color: $pink;
            font-size: 28px;

            @media (min-width: 1200px) {
                font-size: 34px;
                font-size: 48px;
            }
        }

        form {
            display: flex;
            flex-direction: column;

            div {
                display: flex;
                flex-direction: column;
                margin-top: 1rem;

                &:first-of-type {
                    margin-top: 0;
                }

                label {
                    color: $green;
                    font-size: 24px;
                    @media (min-width: 1200px) {
                        font-size: 30px;
                        font-size: 40px;
                    }
                }

                input {
                    border-radius: 25px;
                    color: $purple;
                    padding: 4px 10px;

                    @media(min-width: 1200px){
                        height: 16px;
                    }
                }

                button {
                    margin-top: 30px;
                    margin-bottom: 4px;

                    @media (min-width: 768px) {
                        font-size: 28px;
                    }

                    @media (min-width: 1200px) {
                        font-size: 34px;
                    }
                }
            }
        }
    }
}






.activity-item {
    opacity: 0.1;
    transform: translateY(50px); /* Start below */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.activity-item.visible {
    opacity: 1;
    transform: translateY(0); /* Move into position */
}

.day-information {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

