.article-container {
    h1 {
        font-size: 38px;
        color: $green;
        text-align: center;
        margin: 0;
        padding: 100px 0 30px;
    
        @media (min-width: 768px) {
            padding: 50px 0 30px;
        }
    
        @media (min-width: 1024px) {
            padding: 65px 0 50px;
        }
    
        @media (min-width: 1200px) {
            padding: 70px 0 50px;
            font-size: 45px;
        }
    
        @media (min-width: 1920px) {
            padding: 110px 0 90px;
            font-size: 60px;
        }
    }
    display: flex;
    flex-direction: column;
    padding: 0 35px 30px;
    gap: 24px;

    article {
        height: 170px;
        display: flex;
        align-items: center;
        border: solid 1px $pink;
        border-radius: 14px;

        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 1920px) {
            grid-template-columns: repeat(3, 1fr);
        }

        .article-overlay {
            width: calc(100% - 20px);
            padding: 10px;
            border-radius: 0 0 16px 16px;
            bottom: 0;

            div {
                padding: 1px;
                p {
                    font-size: 12px;
                    font-family: $font-secondary;
                    color: $pink;

                    @media (min-width: 768px) {
                        font-size: 15px;
                    }

                    @media (min-width: 1200px) {
                        font-size: 17px;
                    }

                    @media (min-width: 1920px) {
                        font-size: 20px;
                    }
                }

                a {
                    color: $green;
                    font-size: 14px;

                    @media (min-width: 768px) {
                        font-size: 20px;
                    }

                    @media (min-width: 1920px) {
                        font-size: 25px;
                    }
                }
            }
        }

        img {
            max-height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 16px;
            border: none;
        }
    }
}
