#h1-articles {
    display: flex;
    color: $green;
    width: 100%;
    justify-content: space-around;
    font-size: 35px;
    margin: 100px 0 30px;
    @media (min-width: 768px) {
        font-size: 38 px;
        margin: 40px 0 50px;
    }
    @media (min-width: 1200px) {
        font-size: 45px;
        margin-top: 50px;
    }
    @media (min-width: 1920px) {
        font-size: 60px;
    }
}
.article-container {
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100%;

    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 50px;
        gap: 45px;
    }

    @media (min-width: 1024px) {
        margin: 0 160px;
    }

    @media (min-width: 1200px) {
        margin: 0 100px;
        gap: 50px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: 1920px) {
        margin: 0 300px;
        gap: 60px;
    }

    article {
        position: relative;
        width: 100%;
        height: 200px;
        margin: 0;
        transition: all 0.2s ease-in-out;

        @media (min-width: 768px) {
            height: 265px;
        }

        @media (min-width: 1200px) {
            height: 340;
        }
        
        &:last-child {
            margin-bottom: 30px;
        }

        .article-overlay {
            position: absolute;
            left: 2px;
            z-index: 2;
            background-color: rgba(0, 0, 0, 0.8);
            width: 94%;
            padding: 3%;
            color: $green;
            display: flex;
            flex-direction: column;
            bottom: -3px;
            border-radius: 0px 0px 25px 25px;
            border: none;

            * {
                margin: 0;
            }

            h2 {
                color: $green;
                font-size: 24px;
            }

            p {
                color: $pink;
                font-family: $font-secondary;
            }

            a {
                color: $green;
            }
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 25px;
            border: $pink solid 2px;
        }
    }
    article:has(article:hover) article:not(:hover) {
        filter: blur(1px);
    }
    
    .article-container article:hover {
        scale: 1.06;
    }
}

