#article-page {
    h1 {
        margin-top: 90px;
        margin-bottom: 30px;
        color: $green;
        text-align: center;
        font-size: 32px;

        @media (min-width: 768px) {
            margin-top: 30px;
            font-size: 38px;
        }
        @media (min-width: 1920px) {
            font-size: 55px;
        }
    }

    h2 {
        color: $green;
        font-size: 18px;
        /* margin-left: 10px;
        margin-bottom: 0; */

        @media (min-width: 768px) {
            font-size: 30px;
        }
        @media (min-width: 1920px) {
            font-size: 35px;
        }
    }

    .article-container {
        display: flex;
        flex-direction: column;
        padding: 0 35px 30px;
        gap: 24px;

        article {
            height: 170px;
            display: flex;
            align-items: center;
            border: solid 1px $pink;
            border-radius: 14px;

            @media (min-width: 768px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            @media (min-width: 1024px) {
            }

            @media (min-width: 1200px) {
            }

            @media (min-width: 1920px) {
                grid-template-columns: repeat(3, 1fr);
            }

            .article-overlay {
                width: calc(100% - 20px);
                padding: 10px;
                border: none;
                border-radius: 0 0 16px 16px;
                bottom: 0;
                div {
                    padding: 1px;
                    p {
                        /* margin-left: 10px; */
                        font-size: 12px;
                        font-family: $font-secondary;
                        color: $pink;
                        /* margin-top: 5px;
                        margin-bottom: 10px; */

                        @media (min-width: 768px) {
                            font-size: 15px;
                        }

                        @media (min-width: 1200px) {
                            font-size: 17px;
                        }

                        @media (min-width: 1920px) {
                            font-size: 20px;
                        }
                    }

                    a {
                        /* margin: 0 0 10px 10px; */
                        color: $green;
                        font-size: 14px;

                        @media (min-width: 768px) {
                            font-size: 20px;
                        }

                        @media (min-width: 1920px) {
                            font-size: 25px;
                        }
                    }
                }
            }

            img {
                max-height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 16px;
                border: none;
            }
        }
    }
}
