body,
html {
    width: 100%;
    max-width: 100%;
    margin: 0;
    box-sizing: border-box;
    background-color: $black;
    font-family: $font-primary;
    color: $blue;
    overflow-x: hidden;
}

.green-text {
    color: $green;
}
.blue-text {
    color: $blue;
}
.purple-text {
    color: $purple;
}
.pink-text {
    color: $pink;
}

.font1 {
    font-family: $font-primary;
}
.font2 {
    font-family: $font-secondary;
}