.datepicker-main {
    color: $pink;
    background-color: $black;
    * {
        font-family: $font-secondary;
    }
}
.day {
    background-color: rgb(194, 194, 194);
}
.datepicker-cell.disabled {
    color: #858585;
    background-color: black;
}
.focused {
    background-color: rgb(194, 194, 194) !important;
    color: $pink;
}
.range-start {
    background-color: rgb(90, 92, 255) !important;
    color: aqua !important;
}
.range-end {
    background-color: rgb(90, 92, 255) !important;
    color: aqua !important;
}
.range {
    background-color: rgb(90, 92, 255) !important;
    color: aqua !important;
}
.day :not(.disabled):hover {
    background-color: white !important;
}
