#footer {
    text-align: center;
    height: 600px;
    background-color: $pink;
    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        height: 440 px;
    }
    @media (min-width: 1024px) {
        height: 480px;
    }
    @media (min-width: 1920px) {
        height: 760px;
    }
    #footer-top {
        margin: 20px 66px;
        @media (min-width: 768px) {
            width: 33%;
            margin: 20px 40px;
        }
        @media (min-width: 1024px) {
            margin: 48px 95px;
        }
        @media (min-width: 1200px) {
            margin: 48px 120px;
        }
        @media (min-width: 1200px) {
            margin: 140px 240px;
        }
    }
}

#logo-footer {
    color: $blue;
    font-size: 90px;
    font-family: $logo;
    margin: 0 100px 8px;
    @media (min-width: 1920px) {
        font-size: 100px;
    }
}

#icons {
    display: flex;
    margin: 12px 80px 30px 80px;
    justify-content: space-around;
    margin-top: 12px;
    .icon {
        height: 40px;
        width: 40px;
        @media (min-width: 1920px) {
            height: 55px;
            width: 55px;
        }
    }
}

.txt-secondary-footer {
    font-size: 18px;
    margin: 0;
    @media (min-width: 1920px) {
        font-size: 25px;
    }
}

.txt-primary-footer {
    margin-top: 32px;
    margin-bottom: 8px;
    font-size: 38px;
    @media (min-width: 1920px) {
        font-size: 45px;
    }
}


#mapDiv {
    display: flex;
    width: 100vw;
    @media (min-width: 768px) {
        width: 67%;
        height: 480px;
    }
    @media (min-width: 1900px) {
        height: 760px;
    }
}

/*@media (min-width:768px) {
    
}
@media (min-width:1024px) {

}
@media (min-width:1200px) {

}
@media (min-width:1920px) {

}*/
