textarea:focus,
input:focus {
    outline-style: none;
    outline-color: transparent;
    border: 2px solid $green !important;
    box-shadow: $green 0 0 10px;
}
.form-auth {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    a {
        color: $green;
        text-decoration: underline;
        font-family: $font-secondary;
    }
    input {
        color: $purple;
        font-size: 20px;
        background-color: white;
        border: 2px solid $blue;
        padding: 0px 10px;
        height: 24px;
        border-radius: 10px;
        width: calc(100% - 22px);
        font-family: $font-primary;
    }
    label {
        font-size: 24px;
        color: $green;
    }
}

.login-register {
    background-image: url("/medias/fireworks.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: calc(100vh - 60px);
    padding-top: 120px;
    .register {
        display: none;
    }
    .form-link {
        color: $green;
        font-family: $font-secondary;
        margin: auto;
    }
    button {
        display: block;
        width: 100%;
        margin: auto;
        margin-top: 20px;
    }

    @media (min-width: 768px) {
        margin-top: 0px;
    }

    @media (min-width: 1024px) {
    }
}
.form-container-auth {
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    width: 90%;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    @media (min-width: 592px) {
        width: 60%;
    }

    @media (min-width: 768px) {
        width: 50%;
    }

    @media (min-width: 1024px) {
        width: 30%;
    }
}
