textarea:focus,
input:focus {
    outline: none;
}
form {
    display: flex;
    flex-direction: column;
    width: 90%;
    a {
        color: $green;
        text-decoration: underline;
        font-family: $font-secondary;
    }
    input {
        color: $purple;
        font-size: 20px;
        background-color: white;
        border: 1px solid $blue;
        padding: 0px 10px;
        height: 24px;
        border-radius: 10px;
        width: calc(100% - 22px);
        font-family: $font-primary;
    }
    label {
        font-size: 24px;
        color: $green;
    }
}
.form-title {
}

@media (min-width: 592px) {
    form {
        width: 50%;
    }
}

@media (min-width: 768px) {
    form {
        width: 30%;
    }
}

@media (min-width: 1200px) {
    form {
        width: 20%;
    }
}
