article {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 200px;

    .article-overlay {
        position: absolute;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.8);
        width: 94%;
        padding: 3%;
        color: $green;
        display: flex;
        flex-direction: column;
        gap: 2px;
        bottom: -3px;
        border-radius: 0px 0px 25px 25px;
        border-left: 2px solid $pink;
        border-right: 2px solid $pink;

        * {
            margin: 0;
        }
    }

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: $pink solid 2px;
        border-radius: 25px;

        @media (min-width: 768px) {
        }
        @media (min-width: 768px) {
        }

        @media (min-width: 1200px) {
        }
        @media (min-width: 1200px) {
        }

        @media (min-width: 1920px) {
        }
    }

    h2 {
        color: $green;
        font-family: $font-primary;
        font-size: 30px;
        text-align: left;
    }

    p {
        color: $pink;
        font-family: $font-secondary;
        font-size: 14px;
        text-align: left;
    }

    a {
        color: $green;
        font-size: 20px;
    }
}
//Homepage

.articles:has(article:hover) article:not(:hover) {
    filter: blur(2px)
  }
.home-article:hover {
    scale:1.06;

  }
.home-article img:hover{
    border-color: $green;
  }


.articles {
    background-image: url("/medias/fireworks.webp");
    background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    > h2:first-child {
        font-size: 38px;
        color: $green;
        text-align: center;
        margin: 0;
        padding: 40px 0 40px;
        @media (min-width: 768px) {
            padding: 50px 0 30px;
        }
        @media (min-width: 1024px) {
            padding: 65px 0 50px;
        }
        @media (min-width: 1200px) {
            padding: 70px 0 50px;
            font-size: 45px;
        }
        @media (min-width: 1920px) {
            padding: 110px 0 90px;
            font-size: 60px;
        }
    }

    > a {
        display: block;
        width: fit-content;
        margin: 60px auto;
    }

    .article-container {
        margin: 0 25px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        height: 100%;

        @media (min-width: 768px) {
            @media (min-width: 768px) {
                flex-direction: row;
                margin: 0 50px;
                gap: 45px;
            }
            @media (min-width: 1024px) {
                margin: 0 160px;
            }
            @media (min-width: 1200px) {
                margin: 0 100px;
                gap: 100px;
            }
            @media (min-width: 1920px) {
                margin: 0 300px;
                gap: 185px;
            }

            article {
                position: relative;
                width: 100%;
                height: 200px;
                margin: 0;
                transition: all 0.2s ease-in-out;
                @media (min-width: 768px) {
                    @media (min-width: 768px) {
                        height: 330px;
                    }

                    @media (min-width: 1200px) {
                        height: 430px;
                    }

                    @media (min-width: 1920px) {
                        height: 450px;
                    }

                    .article-overlay {
                        position: absolute;
                        left:2px;
                        z-index: 2;
                        background-color: rgba(0, 0, 0, 0.8);
                        width: 94%;
                        padding: 3%;
                        color: $green;
                        display: flex;
                        flex-direction: column;
                        bottom: -3px;
                        border-radius: 0px 0px 25px 25px;
                        border: none;

                        * {
                            margin: 0;
                        }
                    }

                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 25px;

                        @media (min-width: 768px) {
                        }

                        @media (min-width: 1200px) {
                        }

                        @media (min-width: 1920px) {
                        }
                    }

                    h3 {
                        color: $green;
                        font-size: 24px;
                    }

                    p {
                        color: $pink;
                        font-family: $font-secondary;
                    }

                    a {
                        color: $green;
                    }
                }
            }
        }
    }
    #btn-see-all-articles {
        display: flex;
        justify-content: center;
        padding: 55px 0 40px;
        @media (min-width: 768px) {
            padding: 40px 0 30px;
        }
        @media (min-width: 1024px) {
            padding: 60px 0 50px;
        }
        @media (min-width: 1200px) {
            padding: 60px 0 70px;
        }
        @media (min-width: 1920px) {
            padding: 105px 0 140px;
        }
    }
}
