.tickets {
    display: flex;
    flex-direction: column;
    h2 {
        color: $green;
    }
    height: 680px;
    @media (min-width:768px) {
        height: 535px;
    }
    @media (min-width:1024px) {
        height:  616px;
    }
    @media (min-width:1200px) {
    
    }
    @media (min-width:1920px) {
        height: 98px;
    }
    #option1 {
        border: 1px solid $pink;
    }
    #option2 {
        border: 1px solid $purple;
    }
    #option3 {
        border: 1px solid $green;
    }
    .ticket-option {
        width: 100%;
        
        border-radius: 16px;
        margin-bottom: 30px;
        @media (min-width:768px) {
    
        }
        @media (min-width:1024px) {
        
        }
        @media (min-width:1200px) {
        
        }
        @media (min-width:1920px) {
        
        }
    }
    .ticket-add {
        cursor: pointer;
    }
}