.tickets {
    display: flex;
    flex-direction: column;
    h2 {
        color: $green;
        align-self: center;
        font-size: 35px;
        margin: 40px 0;
        @media (min-width: 768px) {
            font-size: 38 px;
            margin: 105px 0 50px;
        }
        @media (min-width: 1024px) {
            margin: 105px 0 50px;
        }
        @media (min-width: 1200px) {
            font-size: 45px;
            margin-top: 180px;
        }
        @media (min-width: 1920px) {
            font-size: 60px;
        }
    }

    .ticket-option-1 {
        border: 1px solid $pink;
    }
    .ticket-option-2 {
        border: 1px solid $purple;
    }
    .ticket-option-3 {
        border: 1px solid $green;
    }

    .ticket-option {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        border-radius: 16px;
        margin-bottom: 30px;
        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0px;
        }
        span {
            font-size: 30px;
            margin-right: 15px;
            color: $green;
        }
    }
    .ticket-add {
        cursor: pointer;
    }
    #tickets-container {
        margin: 0 25px;
        align-items: stretch;
        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
            gap: 25px;
            margin: 0 35px;
        }
        @media (min-width: 1024px) {
            margin: 0 165px;
        }
        @media (min-width: 1200px) {
            gap: 45px;
            margin: 0 100px;
        }
        @media (min-width: 1920px) {
            gap: 75px;
            margin: 0 305px;
        }
    }

    .ticket-description {
        font-family: $font-secondary;
        font-size: 17px;
        color: $green;
        padding-right: 40px;
        margin-left: 15px;
        margin-top: 0;
    }

    .ticket-price {
        font-size: 35px;
        margin-right: 15px;
        margin-top: 25px;
    }
    .ticket-title {
        color: $blue;
        font-size: 35px;
        margin: 10px 15px;
        @media (min-width: 768px) {
            font-size: 30px;
        }
        @media (min-width: 1024px) {
            font-size: 35px;
        }
        @media (min-width: 1200px) {
            font-size: 40px;
            margin: 20px 20px;
        }
        @media (min-width: 1920px) {
            font-size: 45px;
        }
    }
    .lower-ticket-section {
        margin: 0px 15px;
        height: 70px;
        p:first-child {
            font-family: $font-secondary;
            font-size: 17px;
            color: $green;
            margin: 0 20px 0 0;
            @media (min-width: 1200px) {
                font-size: 20px;
            }
            @media (min-width: 1024px) {
                margin: 0 30px 0 0;
            }
            @media (min-width: 1920px) {
                margin-right: 60px;
                font-size: 24px;
            }
        }
        p:nth-of-type(2) {
            font-family: $font-primary;
            font-size: 35px;
            @media (min-width: 1200px) {
                font-size: 38px;
            }
            @media (min-width: 1920px) {
                font-size: 42px;
            }
        }
    }
    .count span {
        @media (min-width: 1920px) {
            font-size: 38px !important;
        }
    }
    .cart {
        margin: 0 25px;
        align-items: stretch;
        padding-bottom: 40px;
        @media (min-width: 768px) {
            margin: 0 35px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            padding-bottom: 75px;
        }
        @media (min-width: 1024px) {
            margin: 0 165px;
            padding-bottom: 105px;
        }
        @media (min-width: 1200px) {
            padding-bottom: 180px;
            margin: 0 100px;
        }
        @media (min-width: 1920px) {
            padding-bottom: 180px;
            margin: 0 305px;
        }
        p {
            color: $green;
            font-family: $font-secondary;
            font-size: x-large;
        }
        .total-price {
            color: $blue;
            font-family: $font-primary;
            font-size: x-large;
        }

        #ticket-total {
            display: flex;
            flex-direction: column;
        }
    }
}
#form-tickets {
    display: none;
}
