.welcome {
    color: $pink !important;
    font-size: 20px;
}
.dashboard {
    display: flex;
    width: 90%;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-between;
    gap: 100px;

    @media (min-width: 592px) {
        width: 80%;
        flex-direction: row;
        gap: 0;
    }
    .btn-pink-green {
        margin: 20px;
    }

    .delete-btn {
        * {
            width: fit-content;
            background-color: $pink;
            color: white;
            border: none;
            padding: 5px;
        }
    }

    .reservations {
        width: 100%;
    }
    .reservations-container {
        h1 {
            color: $green;
        }
        p {
            color: $green;
        }
    }
    .form-container {
        height: fit-content;
        padding: 20px;
        padding-bottom: 60px;
        border: 2px solid $blue;
        border-radius: 15px;
        h1,
        h2,
        h3 {
            color: $pink;
        }
        form {
            display: flex;
            flex-direction: column;
            a {
                color: $green;
                text-decoration: underline;
                font-family: $font-secondary;
            }
            input {
                color: $purple;
                font-size: 20px;
                background-color: white;
                border: 2px solid $blue;
                padding: 0px 10px;
                height: 24px;
                border-radius: 10px;
                width: calc(100% - 22px);
                font-family: $font-primary;
            }
            label {
                font-size: 24px;
                color: $green;
            }
        }
    }
}
