.welcome {
    color: $pink !important;
    font-size: 25px;
    text-align: center;
    @media (min-width:768px) {
        text-align: left;
    }
}
.dashboard {
    display: flex;
    width: 90%;
    flex-direction: column;
    margin: 0 auto;
    gap: 50px;
    height: 100vh;

    @media (min-width: 592px) {
        flex-direction: row;
        gap: 0;
    }
    .btn-pink-green {
        margin: 20px;
    }

    .delete-btn {
        * {
            width: fit-content;
            background-color: $pink;
            color: white;
            border: none;
            padding: 5px;
        }
    }

    .reservations {
        width: 100%;
        input {
            margin-left: 0;
        }
    }
    .reservations-container {
        margin-top: 65px;
        h1 {
            color: $green;
            text-align: center;
            @media (min-width:768px) {
                text-align: left;
            }
        }
        h2 {
            margin-top: 40px;
            font-size: 30px;
        }
        p {
            color: $green;
            font-size: 25px;
        }
    }
    .form-container {
        height: fit-content;
        padding: 20px;
        padding-bottom: 0px;
        border: 2px solid $blue;
        border-radius: 15px;
        h2{
            color: $blue;
            text-align: center;
        }
        form {
            display: flex;
            flex-direction: column;
            a {
                color: $green;
                text-decoration: underline;
                font-family: $font-secondary;
            }
            input {
                color: $purple;
                font-size: 20px;
                background-color: white;
                border: 2px solid $blue;
                padding: 0px 10px;
                height: 24px;
                border-radius: 10px;
                width: calc(100% - 22px);
                font-family: $font-primary;
            }
            label {
                font-size: 24px;
                color: $green;
            }
        }
    }
}

/*
@media (min-width:768px) {

}
@media (min-width:1024px) {

}
@media (min-width:1200px) {

}
@media (min-width:1920px) {

}
*/
