// Colors
$black: #141010;
$blue: #44FFF9;
$pink: #C80E76;
$green: #C1FF72;
$purple: #8C52FF;

//Fonts
$logo: "brushberry-sans-one", sans-serif;
$font-primary: "anchor-web", sans-serif;
$font-secondary: "shantell-sans-bouncy", sans-serif;

