#videoPlayer {
    margin-left: 50vw;
    transform: translate(-50%);
    min-width: 104%;
    overflow-x: hidden;
    height: 85vh;
    object-fit: cover;
    display: none;
    @media (min-width: 768px) {
        display: block;
        height: 360px;
    }
    @media (min-width: 1024px) {
        height: 420px;
    }
    @media (min-width: 1200px) {
        height: 550px;
        width: 100vw;
    }
    @media (min-width: 1920px) {
        height: 730px;
    }
}

#headerHome {
    min-width: 100vw;
    position: relative;
    background-image: url('/medias/poster.png');
    background-size: cover;
    background-position: center;
    @media (max-width: 768px) {
        height: 85vh;
    }
}

#playPauseBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
    border: 0;
    z-index: 10;
    display: none;
    @media (min-width: 768px) {
        display: block;
    }
    &:hover {
        color: $green;
    }

    i {
        font-size: 32px;
    }
}
