.btn-pink-green {
  border-radius: 40px;
  padding: 2px 20px 0px;
  font-family: "anchor-web", sans-serif;
  font-size: 28px;
  text-decoration: none;
  background-color: #C80E76;
  color: #C1FF72;
}
@media (min-width: 768px) {
  .btn-pink-green {
    font-size: 20px;
  }
  .btn-pink-green .rsv .all-articles {
    font-size: 33px;
  }
}
@media (min-width: 1200px) {
  .btn-pink-green {
    font-size: 22px;
  }
  .btn-pink-green .rsv .all-articles {
    font-size: 35px;
  }
}
@media (min-width: 1200px) {
  .btn-pink-green {
    font-size: 30px;
  }
}

.btn-green-pink {
  border-radius: 40px;
  padding: 2px 20px 0px;
  font-family: "anchor-web", sans-serif;
  font-size: 28px;
  text-decoration: none;
  background-color: #C1FF72;
  color: #C80E76;
}
@media (min-width: 768px) {
  .btn-green-pink {
    font-size: 20px;
  }
  .btn-green-pink .rsv .all-articles {
    font-size: 33px;
  }
}
@media (min-width: 1200px) {
  .btn-green-pink {
    font-size: 22px;
  }
  .btn-green-pink .rsv .all-articles {
    font-size: 35px;
  }
}
@media (min-width: 1200px) {
  .btn-green-pink {
    font-size: 30px;
  }
}

.btn-blue-pink {
  border-radius: 40px;
  padding: 2px 20px 0px;
  font-family: "anchor-web", sans-serif;
  font-size: 28px;
  text-decoration: none;
  background-color: #44FFF9;
  color: #C80E76;
}
@media (min-width: 768px) {
  .btn-blue-pink {
    font-size: 20px;
  }
  .btn-blue-pink .rsv .all-articles {
    font-size: 33px;
  }
}
@media (min-width: 1200px) {
  .btn-blue-pink {
    font-size: 22px;
  }
  .btn-blue-pink .rsv .all-articles {
    font-size: 35px;
  }
}
@media (min-width: 1200px) {
  .btn-blue-pink {
    font-size: 30px;
  }
}

.btn-purple-green {
  border-radius: 40px;
  padding: 2px 20px 0px;
  font-family: "anchor-web", sans-serif;
  font-size: 28px;
  text-decoration: none;
  background-color: #8C52FF;
  color: #C1FF72;
}
@media (min-width: 768px) {
  .btn-purple-green {
    font-size: 20px;
  }
  .btn-purple-green .rsv .all-articles {
    font-size: 33px;
  }
}
@media (min-width: 1200px) {
  .btn-purple-green {
    font-size: 22px;
  }
  .btn-purple-green .rsv .all-articles {
    font-size: 35px;
  }
}
@media (min-width: 1200px) {
  .btn-purple-green {
    font-size: 30px;
  }
}

body, html {
  width: 100%;
  max-width: 100%;
  margin: 0;
  box-sizing: border-box;
  background-color: #141010;
  font-family: "anchor-web", sans-serif;
  color: #44FFF9;
  overflow-x: hidden;
}

.green-text {
  color: #C1FF72;
}

.blue-text {
  color: #44FFF9;
}

.purple-text {
  color: #8C52FF;
}

.pink-text {
  color: #C80E76;
}

.font1 {
  font-family: "anchor-web", sans-serif;
}

.font2 {
  font-family: "shantell-sans-bouncy", sans-serif;
}

#footer {
  text-align: center;
  height: 600px;
  background-color: #C80E76;
}
@media (min-width: 768px) {
  #footer {
    display: flex;
    flex-direction: row;
    height: 440 px;
  }
}
@media (min-width: 1024px) {
  #footer {
    height: 480px;
  }
}
@media (min-width: 1920px) {
  #footer {
    height: 760px;
  }
}
#footer #footer-top {
  margin: 20px 66px;
}
@media (min-width: 768px) {
  #footer #footer-top {
    width: 33%;
    margin: 20px 40px;
  }
}
@media (min-width: 1024px) {
  #footer #footer-top {
    margin: 48px 95px;
  }
}
@media (min-width: 1200px) {
  #footer #footer-top {
    margin: 48px 120px;
  }
}
@media (min-width: 1200px) {
  #footer #footer-top {
    margin: 140px 240px;
  }
}

#logo-footer {
  color: #44FFF9;
  font-size: 90px;
  font-family: "brushberry-sans-one", sans-serif;
  margin: 0 100px 8px;
}
@media (min-width: 1920px) {
  #logo-footer {
    font-size: 100px;
  }
}

#icons {
  display: flex;
  margin: 12px 80px 30px 80px;
  justify-content: space-around;
  margin-top: 12px;
}
#icons .icon {
  height: 40px;
  width: 40px;
}
@media (min-width: 1920px) {
  #icons .icon {
    height: 55px;
    width: 55px;
  }
}

.txt-secondary-footer {
  font-size: 18px;
  margin: 0;
}
@media (min-width: 1920px) {
  .txt-secondary-footer {
    font-size: 25px;
  }
}

.txt-primary-footer {
  margin-top: 32px;
  margin-bottom: 8px;
  font-size: 38px;
}
@media (min-width: 1920px) {
  .txt-primary-footer {
    font-size: 45px;
  }
}

#mapDiv {
  display: flex;
  width: 100vw;
}
@media (min-width: 768px) {
  #mapDiv {
    width: 67%;
    height: 480px;
  }
}
@media (min-width: 1900px) {
  #mapDiv {
    height: 760px;
  }
}

/*@media (min-width:768px) {

}
@media (min-width:1024px) {

}
@media (min-width:1200px) {

}
@media (min-width:1920px) {

}*/
.logo {
  align-self: center;
  font-family: "brushberry-sans-one", sans-serif;
  font-size: 90px;
  color: #44FFF9;
  margin: 0;
}
@media (min-width: 768px) {
  .logo {
    align-self: baseline;
    margin-left: 30px;
    font-size: 56px;
  }
}
@media (min-width: 1200px) {
  .logo {
    font-size: 71px;
  }
}

.nav-desktop {
  display: none;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .nav-desktop {
    display: flex;
    height: 60px;
  }
}

.nav-mobile {
  display: flex;
}
@media (min-width: 768px) {
  .nav-mobile {
    display: none;
  }
}

.div-nav-links {
  margin-top: 18px;
  margin-right: 30px;
}

.nav-links {
  font-size: 35px;
}
@media (min-width: 768px) {
  .nav-links {
    font-size: 22px;
    margin-right: 30px;
  }
}
@media (min-width: 1200px) {
  .nav-links {
    font-size: 30px;
    margin-right: 50px;
  }
}
@media (min-width: 1920px) {
  .nav-links {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .btn-login-logout {
    margin-right: 15px;
  }
}
@media (min-width: 1200px) {
  .btn-login-logout {
    margin-right: 30px;
  }
}

/*@media (min-width:768px) {

}
@media (min-width:1024px) {

}
@media (min-width:1200px) {

}
@media (min-width:1920px) {

}*//*# sourceMappingURL=style.css.map */